data
.env
dist/
**/*.egg-info
# Ignore virtual environment
**/venv/
**/.venv/
# Ignore Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/pytest_cache
**/.pytest_cache

poetry.lock
*.pkl
**/build

*.log
*.json
.vscode

**/.swp

**/*.csv
repomix-output.xml
examples/private_shapley/contracts/out
node_modules
examples/private_shapley/contracts/lib
